.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* Button 57 by Scott Branch */
/* <button class="button-57" role="button"><span class="text">Button 57</span><span>Alternate text</span></button> */



/* 
.project-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.project-card span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.project-card span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.project-card:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.project-card:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.project-card:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
} */

.staggered-container{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    /* justify-content: space-between;
    align-items: center; */
}

.project-card{
    width: 45%;
    height: fit-content;
    margin: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card:nth-child(even) {
    margin-top: 6rem;
}
.project-card:nth-child(odd) {
    margin-top: 2rem;
}
.project-card:first-child {
    margin-top: 0;
}

.project-card .staggered-box{
    cursor: pointer;
}

.project-card:hover,
.project-card:focus{
    transform: scale(1.15);
    box-shadow: inset 0 0 8px 3px rgba(0, 0, 0, 0.5);
    outline: 3px inset #BA98D9; 
    /* outline-offset: 2px;  */
}

#blurMain,
#blurFooter{
    transition: filter 0.3s ease;
}

#blurMain.active,
#blurFooter.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.noscroll{
    height: 100%;
    overflow: hidden;
}

.skill-grid{
    /* display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 2rem;
}

#project-overlay{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-height: 85vh;
    width: 80%;
    max-width: 90%;

    padding: 2rem;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    /* background: rgb(224, 224, 224); */
    background: rgb(249, 241, 253);
    
    visibility: hidden;
    opacity: 0;
    /* transition: 0.5s; */
    transition: visibility 0s, opacity 0.5s ease-in-out;

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    overflow-y: auto;
    box-sizing: border-box;

    text-align: center;
}


#project-overlay.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}


.right-align-btn{
    margin: 0;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: end;
    /* align-items: center; */
 }

#project-overlay .right-align-btn i{
    font-size: 2rem;
}

#project-overlay .right-align-btn i{
    cursor: pointer;
}

#project-overlay .right-align-btn i:focus,
#project-overlay .right-align-btn i:hover
{
    outline: 3px solid #BA98D9; 
    outline-offset: 2px; 
    background-color: rgba(186, 152, 217, 0.2); 
}

#project-overlay .center-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1.5rem;
}

#project-overlay a.button{
    width: 50%;
}

.right-side-nav .content.portfolio-side-bar{
    gap: 0.5rem;
}

.right-side-nav .content.portfolio-side-bar .button{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}


/* DARK MODE */

body.dark-mode #project-overlay{
    background-color: #5b5b5f;
}

body.dark-mode #project-overlay .right-align-btn i:focus,
body.dark-mode #project-overlay .right-align-btn i:hover
{
    outline: 3px solid rgba(255, 255, 255, 0.95); 
    outline-offset: 2px; 
    color: #FFFFF0;
    text-shadow: 0px 0px 30px rgba(255, 252, 225, 0.5);
    transform: scale(1.05);
}

@media (prefers-color-scheme: dark){
    #project-overlay{
        background-color: #5b5b5f;
    }

    #project-overlay .right-align-btn i:focus,
    #project-overlay .right-align-btn i:hover
    {
        outline: 3px solid rgba(255, 255, 255, 0.95); 
        outline-offset: 2px; 
        color: #FFFFF0;
        text-shadow: 0px 0px 30px rgba(255, 252, 225, 0.5);
        transform: scale(1.05);
    }
}



@media(max-width: 1024px){

    .right-side-nav{
        width: 400px;
        transform: translateX(360px);
    }

    .right-side-nav .arrow{
        width: 10%;
    }

    .right-side-nav .arrow::before{
        transform: translate(12%, -50%) scaleX(-1);
    }
}

@media only screen and (max-width: 833px) {
    .staggered-container {
        display: block;
    }
    .project-card {
        width: 100%;
        margin: 3rem 0.5rem !important;
    }
}

@media(max-width: 1200px){
    /* .skill-grid{
        grid-template-columns: repeat(auto-fit, minmax(100px, 0.75fr));
        width: 100%;
    } */
}

@media(max-width: 750px){
    #project-overlay h1{
        font-size: 2.25rem;
    }

}

@media(max-width: 700px){
    #project-overlay h1{
        font-size: 2rem;
    }

}

@media(max-width: 600px){
    #project-overlay h1{
        font-size: 1.75rem;
    }
}

@media(max-width: 630px){
    #project-overlay h1{
        font-size: 1.75rem;
    }

}


@media(max-width: 400px){

    #project-overlay.active{
        max-height: 70vh;
    }

    .right-side-nav{
        width: 270px;
        transform: translateX(215px);
    }

    .right-side-nav .arrow{
        width: 100%;
    }

    .right-side-nav .arrow::before{
        transform: translate(19%, -50%) scaleX(-1);
    }
}



